fastapi
uvicorn[standard]
python-dotenv
PyGithub
sentence-transformers
supabase
groq
langgraph
langgraph-checkpoint-postgres
bcrypt
python-jose[cryptography]
psycopg[binary]
psycopg-pool
cryptography
